:root {
	/* --color-60: hsl(180, 40%, 85%);
	--color-30: hsl(180, 50%, 75%); */
	--color-60: #e8fafd;
	--color-30: #c9e8e8;
	--color-10: #008080;
}

* {
	font-family: "comic sans ms";
	font-weight: 500;
}

body {
	min-height: 100vh;
	margin: 0;
}

.main-container {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template: auto/70% auto;
	background: var(--color-30);
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.list-container,
.stats-container {
	width: calc(100% - 5em);
	height: calc(100% - 5em);
	background: var(--color-60);
	border-radius: 3em;
	display: flex;
	flex-flow: column;
}

.task-tools {
	display: flex;
	margin: 4em;
}

.task-input {
	width: 80%;
	text-align: center;
	background: var(--color-30);
	color: var(--color-10);
	border-radius: 3em;
	border: transparent;
	outline: 1px solid var(--color-10);
	box-shadow: 0 0 10px 1px var(--color-10);
	font-size: 1.5em;
	padding: 0.5em;
}

.task-input:hover,
.task-input:focus-visible {
	outline: transparent;
}

.task-add {
	margin: auto 0 auto auto;
	width: 100px;
	border-radius: 3em;
	background: var(--color-30);
	color: var(--color-10);
	border: transparent;
	outline: 1px solid var(--color-10);
	box-shadow: 0 0 10px 1px var(--color-10);
	font-size: 1em;
	padding: 2px;
	height: 2.5em;
	padding: 0;
}

.task-add:hover,
.task-add:focus-visible {
	outline: transparent;
}

.task-display {
	outline: 1px solid red;
	height: 100%;
	margin: 0 3em 3em;
}
