:root {
	/* another teal but no */
	/* --color-60: hsl(180, 40%, 85%);
	--color-30: hsl(180, 50%, 75%);
	--color-10: hsl(180, 100%, 25%); */

	/* teal */
	/* --color-60: #e8fafd;
	--color-30: #c9e8e8;
	--color-10: #008080; */

	/* wheat */
	/* --color-60: #fff0d1;
	--color-30: #f5deb3;
	--color-10: #e4bd51;
	--color-grey: #968259; */

	/* black */
	--color-60: #778888cc;
	--color-30: #667777ef;
	--color-10: #333333ef;
	--color-grey: #444444ef;
}

* {
	font-family: "comic sans ms";
	font-weight: 500;
	/* outline: 1px solid red; */
}

body {
	min-height: 100vh;
	margin: 0;
}

.main-container {
	min-width: 100vw;
	min-height: max(900px, 100vh);
	display: grid;
	grid-template: clamp(900px, 100vh, 2000px) / 2fr 1fr;
	background: linear-gradient(135deg, var(--color-10), var(--color-60), var(--color-30));
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.list-container {
	min-height: 500px;
}

.list-container,
.stats-container {
	width: calc(100% - 5rem);
	height: calc(100% - 5rem);
	background: var(--color-60);
	border-radius: 3rem;
	display: flex;
	flex-flow: column;
}

.task-tools {
	display: flex;
	margin: 4rem;
}

.task-input,
.task-display-p {
	width: 80%;
	text-align: center;
	background: var(--color-30);
	color: var(--color-10);
	border-radius: 1.5em;
	border: transparent;
	outline: 1px solid var(--color-10);
	box-shadow: 0 0 10px 1px var(--color-10);
	font-size: 1.5em;
	padding: 0.5em;
	transition: outline 0.2s;
}

.task-input:hover,
.task-input:focus-visible {
	outline: transparent;
}

.task-add,
.task-delete {
	margin: auto 0 auto auto;
	width: 100px;
	border-radius: 3em;
	background: var(--color-30);
	color: var(--color-10);
	border: transparent;
	outline: 1px solid var(--color-10);
	box-shadow: 0 0 10px 1px var(--color-10);
	font-size: 1em;
	padding: 2px;
	height: 2.5em;
	padding: 0;
	transition: transform 0.1s, outline 0.2s;
}

.task-delete {
	box-shadow: 0 0 5px 1px var(--color-grey);
	outline: 1px solid var(--color-grey);
}

.task-add:hover,
.task-add:focus-visible,
.task-delete:hover,
.task-delete:focus-visible {
	outline: transparent;
}

.task-add:active,
.task-delete:active {
	transform: translate(1px, 1px);
}

.task-display {
	margin: 0 3.5rem 3.5rem;
	display: flex;
	flex-flow: column;
	gap: 1rem;
	overflow: auto;
}

.task-display-div {
	margin: 1px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	outline: 1px solid var(--color-grey);
	padding: 0.5em;
	border-radius: 1.5em;
}

.task-display-div > p {
	margin: 0;
	box-shadow: 0 0 5px 1px var(--color-grey);
	outline: none;
	overflow-wrap: break-word;
}

::-webkit-scrollbar {
	width: 1rem;
}

::-webkit-scrollbar-thumb {
	background: var(--color-30);
	border-radius: 42069px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--color-10);
}

body::-webkit-scrollbar {
	display: none;
}

.stats-container {
	display: grid;
	grid-template: 1fr 0.1fr 1fr /1fr;
	place-items: center;
}

.stats-container > div {
	display: grid;
	width: 75%;
	height: 75%;
	grid-template: 1fr 1fr/1fr;
	place-items: center;
}

.stats-container > div > p {
	font-size: 1.4rem;
	color: var(--color-10);
}

.stats-container > div > h1 {
	font-size: 4rem;
	color: var(--color-10);
}

hr {
	width: 75%;
	background: var(--color-10);
	height: 1px;
	border: none;
}

@media screen and (max-width: 1300px) {
	.main-container {
		grid-template: min(100vh, 2000px) 400px / 100%;
		min-width: 870px;
	}

	.stats-container {
		display: flex;
		flex-direction: row;
	}

	hr {
		display: none;
	}
}
